<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>

</style>

<div class="footer" th:fragment="footer">
  <footer class="page-footer font-small cyan darken-3" style="background-color: #FBFCFD;">
    <div class="footer-copyright text-center py-3">
      <p>
        상호: 주식회사 NoRaRa | 대표 개발자 : 최동훈
        전화: 010-1234-5678 | 이메일: <a href="mailto:asdf@naver.co.kr">asdf@naver.co.kr</a><br>
        주소: 인천광역시 부평구 부평1동 534-48, 7층 |
        사업자등록번호: 123-45-67890 | 통신판매: 2025-인천부평-0121 |
        호스팅제공자: (주)더조은
      </p>
      <div class="copyright">
        © <nori></nori>. NoRaRa 2025 ALL RIGHTS RESERVED
      </div>
    </div>
  </footer>
</div>
</html>
